#header{
   
    height: 180px;
    width:1,000px;
    color:white;
    background-image:  url("images/green_pixels.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:30px;
}

#header2{
    width:450px;
    height: 120px;
    margin-left: 50px;
    border: 10px solid black;
    background-image:  url("images/metal.jpg");
    padding-left: 25px;
    padding-right: 25px;

}

#nav{
    padding-top: 8px;
    background-color: black;
    margin: 0;

  
    
}

#navList{
  list-style-type: none;
  margin: 0;
  padding-top: 8px;
  overflow: hidden;
  background-color: black;
}

#navList a {
  display: block;
  color: white;
  text-align: center;
  padding-top 8px 
}

#navLi{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

a{
    text-decoration: none;
}

span{
    color:#00C70D;
}